<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <img src="/images/login.png" alt="login" class="home-img" />
    <div class="container box-around">
      <h1 class="color-white">Welcome to the Personal Budget Tracker</h1>
      <p class="color-white">
        We're here to simplify your financial management!
      </p>
      <a href="/signup" class="signup-btn">Sign Up</a>
      <p class="color-white">
        Already a member? <a class="login-link" href="/login">Login</a>
      </p>
    </div>
  </body>
</html>
